body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  h1 {
    color: #333;
      padding: 0 0 0 420px;
  }
  
  form {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="number"],
  select,
  input[type="text"],
  input[type="email"],
  button[type="submit"] {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease-in-out;
  }
  
  input[type="number"]:focus,
  select:focus,
  input[type="text"]:focus,
  input[type="email"]:focus {
    border-color: #333;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  header {
    color: var(--light-color);
  background-color: black;
    padding: 0px 0  240px;
    font-size: 20px;
   height: 21px;
   border-radius:15px;
    
  }
  
  header a {
    color: var(--light-color);
    text-decoration: none;
   
  }
  
  header h1 {
    margin: 0;
    font-family: "Open Sans Bold", sans-serif;
  
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
    text-align: center;
    padding: 0 43px 0 0 ;

  }
  
  nav a {
    color: var(--light-color);
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav a:hover {
    color: red;

  }
  
  /* Conteúdo */
  
  main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    flex: 1;
    margin: 10px;
  }
  
  section h2 {
    font-family: "Open Sans Bold", sans-serif;
    color: var(--dark-color);
  }
  
  section p {
    font-family: "Open Sans Light", sans-serif;
    color: var(--primary-color);
  }  
  p{
  padding: 0 0 0 590px;
  }